.stickert {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url("/svg/star.svg");
  background-image: conic-gradient(
      #fff,
      #000,
      #fff,
      #000,
      #fff,
      #000,
      #fff,
      #000
    ),
    conic-gradient(#fff, #000, #fff, #000, #fff, #000, #fff, #000),
    radial-gradient(
      circle at 40% 5%,
      #2ad0ca,
      #e1f664,
      #feb0fe,
      #abb3fc,
      #5df7a4,
      #58c4f6
    );
  background-blend-mode: screen, difference, normal;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}
